In [7]:
import pandas as pd

In [8]:
data=pd.read_csv("D:\Data Analyis\Python practice\Projects\Project-7\Census+2011.csv")

In [9]:
data.head(2)

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978

In [10]:
data.style.hide_index()

AttributeError: 'Styler' object has no attribute 'hide_index'

In [12]:
data_string = data.to_string(index=False)